<div class="col-8">
    <div class="card my-3 blog" id="{{ blog.data.id }}">
        <div class="card-header">
            {% if request.user.is_superuser %}
                <p style="position: absolute; width: 150px; right: 10px">
                    <a href="{% url 'main:editblog' blog.data.id %}" class="btn btn-warning">Изменить</a>
                    <a href="{% url 'main:deleteblog' blog.data.id %}" class="btn btn-danger">X</a>
                </p>
            {% endif %}
        <h3>{{blog.data.title}}</h3>
        </div>
        <div class="card-body px-5">
            <p>{{blog.data.display_my_safefield }}</p>
            <div class="images-slider">
                {% for img in blog.images %}
                <div class="slider-img mx-3">
                    <a href="{{img.image.url}}">
                        <img src="{{img.image.url}}" height="500">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="card-footer">
            <p class="text-right text-muted m-0 p-0">Создано: {{ blog.data.created_at }} | Изменено: {{ blog.data.updated_at }}</p>
        </div>
    </div>
</div>
<div class="col-4">
    <div class="card my-3 comments" id="comment{{ blog.data.id }}">
        <div class="card-header">
            <b>Комментарии</b>
        </div>
        <div class="card-body" style="overflow: scroll">
            <ul class="p-0">
                {% for comment in blog.comments %}
                    <li style="list-style-type: none">
                        <div class="card mb-3">
                            <div class="card-header p-1"><b><a href="{% url 'account:about' comment.user %}">{{ comment.user }}</a></b></div>
                            <div class="card-body p-2">{{ comment.text }}</div>
                            <div class="card-footer p-1"><p class="text-muted text-right p-0 m-0">{{ comment.created_at }}</p></div>
                        </div>
                    </li>
                {% empty %}
                    Нет комментариев
                {% endfor %}
            </ul>
        </div>
        <div class="card-footer">
            {% if request.user.is_authenticated %}
                <form action="{% url 'main:home' %}" method="post">
                    {% csrf_token %}
                    <input type="text" hidden value="True" name="is_comment">
                    <input type="text" hidden value="{{ blog.data.id }}" name="blog">
                    <textarea name="text" cols="30" rows="2" class="form-control" placeholder="Комментировать"></textarea>
                    <p class="p-0 m-0 text-right"><input type="submit" value="Отправить" class="btn btn-success btn-sm my-1"></p>
                </form>
            {% else %}
                <a href="{% url 'account:login' %}">Авторизируйтесь</a> чтобы оставить комментарий.
            {% endif %}
        </div>
    </div>
</div>