{% extends 'base.html' %}
{% block content %}
    <div class="auth col-6 offset-3 p-5 my-5">
        <form class="login_form" action="{% url 'account:login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="/">
            <input type="submit" class="btn btn-light mt-2" value="Войти">
        </form>
        <small id="emailHelp" class="form-text text-muted">Если у вас нет аккаунта вы можете создать его <a
            href="{% url 'account:reg' %}">здесь</a></small>
    </div>
{% endblock %}
{% block script %}
    {% if request.user.is_authenticated %}
        <script>
            window.location = '/'
        </script>
    {% endif %}
{% endblock %}